<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Panel - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="js/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
</head>
<body>
    <h2>测试工具</h2>
    <p>测试工具介绍：本测试工具......</p>
    <div style="margin:20px 0 10px 0;">
        <img  src="images/download.png" />
        <a href="download/maven.zip" class="easyui-linkbutton" >下载</a>
    </div>
</body>
</html>